/* write your override styles here */
#wall .tag-1{
    display: none;
}
#wall div#tag-2{
    display: none;

}
#wall div.parent{
    display: none;
}
#wall div#tag-3.slick.wicked{
    display: none;
}
.parent div#tag-5.slick{
    display: none;
}
.parent div #tag-6 {
    display: none;
}
#wall .parent{
    display: none;
}
div#tag-7.slick{
    display: none;
}